@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
@import url("reset.css");

/*==================== VARIABLES CSS ====================*/

@mixin centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerX {
    display: flex;
    justify-content: center;
}

@mixin centerY {
    display: flex;
    align-items: center;
}

:root {
    --main-color: #fff;
    --secondary-color: rgb(139, 107, 209);
    --secondary-color-faded: rgba(139, 107, 209, 0.6);
    --third-color: rgb(61, 38, 112);
    --text-color: #000;
    --min-width: 80%;
    --max-width: 1200px;
    --min-height: 600px;
    --font-family: "Inter", sans-serif;
    --font-size-title: 22px;
    --font-size-icon: 32px;
    --default-padding: 20px;
    --phone-padding: 8px;
    --bg-color: #f0f0f0;
    --border-radius: 6px;
    --animation-timing: 0.2s;
    --shadow-default: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 0 5px 3px var(--secondary-color-faded);
}

::selection {
    background: var(--secondary-color);
    color: var(--bg-color);
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Font size for large devices */

body {
    font-family: var(--font-family);
    font-size: 16px;
    text-transform: capitalize;
}

.page-container {
    position: relative;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 9999999999999999;
    overflow: hidden;
    @include centerAll();

    .loaded & {
        visibility: hidden;
        transform: translateY(-100%);
        transition: all 0.3s 1s ease-out;

        .loader {
            opacity: 0;
            transition: all 0.3s ease-out;
        }
    }

    .loader {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 75px;
        display: inline-block;
        vertical-align: middle;

        .loader-outter {
            position: absolute;
            border: 4px solid rgb(139, 107, 209);
            border-left-color: transparent;
            border-bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
            animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
        }

        .loader-inner {
            position: absolute;
            border: 4px solid rgb(139, 107, 209);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            left: calc(50% - 20px);
            top: calc(50% - 20px);
            border-right: 0;
            border-top-color: transparent;
            -webkit-animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
            animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
        }
    }
}

@keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.cursor-container {
    .cursor {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
        position: absolute;
        top: 9px;
        left: 9px;
        -webkit-transition: none;
        transition: .09s;
        pointer-events: none;
        z-index: 200;
    }

    .dot {
        width: 5px;
        height: 5px;
        background-color: var(--secondary-color);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: none;
        transition: none;
        pointer-events: none;
        z-index: 100;
    }
}

header {
    position: relative;
    padding: 0px 10px;
    @include centerAll();

    a {
        transition: 0.15s all linear;
    }

    nav.navbar {
        background: #f8f8f8;
        width: 100%;
        padding: 0px 20px;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        @include centerY();
        justify-content: space-between;

        .logo {
            font-size: var(--font-size-title);
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--secondary-color);

            &:hover {
                color: var(--text-color);
            }
        }

        ul {
            display: flex;
            gap: 0px 8px;

            li {
                a {
                    text-decoration: none;
                    color: var(--text-color);

                    &:hover {
                        color: var(--secondary-color);
                    }

                }
            }
        }
    }
}

main {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--default-padding);
        background-color: var(--bg-color);
        min-height: 100vh;

        // &.containerActive {

        //     .textFeild,
        //     .imageFeild {
        //         transform: translateY(0px) !important;
        //         opacity: 1 !important;
        //         visibility: visible !important;
        //     }
        // }

        .content {
            @include centerX();
            flex-direction: column;
            min-width: var(--min-width);
            max-width: var(--max-width);
            min-height: var(--min-height);
            padding: calc(var(--default-padding) * 2);
            box-shadow: var(--shadow-default);
            border-radius: var(--border-radius);
            background-repeat: no-repeat;
            background-image: url("../images/pattern-curve.svg");
            background-color: #fff;
            background-position: bottom left;

            .textFeild {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transform: translateY(-20px);
                transition: all 1s;

                p.text {
                    display: flex;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    margin-bottom: 10px;
                }

                .authorInfo {
                    display: flex;

                    .authorName {
                        font-weight: 700;
                    }

                    .authorJob {
                        font-weight: 500;
                        margin-left: 5px;
                        color: #747376;
                    }
                }

                .socialLinks {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;

                    a {
                        background: #000;
                        display: flex;
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                        margin-right: calc(var(--default-padding) / 2);
                        border-radius: 50%;
                        -webkit-transition: all var(--animation-timing);
                        transition: all var(--animation-timing);
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            color: #000;
                        }
                    }
                }
            }

            .info-container,
            .skills-container,
            .projects-container,
            .contact-container {
                display: flex;
            }

            .skills-container,
            .projects-container,
            .contact-container {
                justify-content: center;
                flex-wrap: wrap;
                padding: clc(var(--default-padding) / 2);

                .skill,
                .project,
                .contact {
                    position: relative;
                    @include centerY();
                    flex-direction: column;
                    padding: 8px;
                    margin: 15px 18px;

                    padding-bottom: 0px;
                    box-shadow: var(--shadow-default);
                    text-decoration: none;
                    color: #000;
                    transition: 0.15s all linear;

                    .ribbon {
                        position: absolute;
                        top: -4px;
                        right: 5px;
                        z-index: 99;
                        background: var(--secondary-color);
                        color: #fff;
                        padding: 10px;

                        &::after {
                            content: "";
                            position: absolute;
                            left: -4px;
                            top: 0;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 4px 0 0 4px;
                            -webkit-transform: rotate(270deg);
                            transform: rotate(270deg);
                            border-color: transparent transparent transparent #634e5b;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            right: -4px;
                            top: 0;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 4px 0 0 4px;
                            border-color: transparent transparent transparent #634e5b;
                        }
                    }

                    .skillTitle,
                    .projectTitle,
                    .contactTitle {
                        font-size: 1em;
                        font-weight: bold;
                        padding: 12px 0px;
                    }

                    .skillIcon,
                    .contactIcon {
                        img {
                            width: 150px;
                        }

                        i {
                            font-size: var(--font-size-icon);
                        }
                    }

                    .projectIcon {
                        position: relative;

                        img {
                            width: 300px;
                        }


                    }

                    &:hover,
                    &:focus {
                        box-shadow: var(--shadow-hover);
                    }
                }
            }

            .contact {
                min-width: 40%;
            }
        }

        .imageFeild {
            flex: 1;
            max-width: 60%;
            display: flex;
            align-items: center;
            padding: 50px;
            background-size: contain;
            background-position: center;
            background-image: url("../img/pattern-bg.svg");
            background-repeat: no-repeat;
            transform: translateY(20px);
            transition: all 1s;

            .image {
                width: 100%;
                border-radius: var(--border-radius);
                filter: drop-shadow(0px 10px 6px #000);
                transition: all 0.1s;
            }
        }

        .sectionTitle {
            font-size: var(--font-size-title);
            text-transform: uppercase;
            font-weight: bold;
            width: 100%;
            margin-bottom: 20px;
            @include centerAll();
        }
    }
}

footer.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--bg-color);
    color: #6c757d;
    width: 100%;
    user-select: none;
    text-align: center;

    ul.socialMedia {
        margin: auto;
        padding: 10px 0px;
        @include centerX();
        gap: 13px;

        a {
            font-size: 1.313rem;
            color: #55616c;

            &::hover {
                color: #323330;
                transition: .2s all ease-in-out;
            }
        }
    }

    p.email {
        user-select: text;
        font-size: 16px;
        margin: 10px 0px;
    }

    p.name {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width:960px) {

    .cursor,
    .dot {
        display: none;
    }

    main {
        section {
            .content {

                .skills-container,
                .projects-container,
                .contact-container {

                    .skill,
                    .project,
                    .contact {

                        .skillTitle,
                        .projectTitle,
                        .contactTitle {}

                        .skillIcon,
                        .contactIcon {
                            img {}

                            i {}
                        }

                        .projectIcon {
                            img {
                                width: 275px;
                            }
                        }
                    }
                }
            }
        }
    }


}

@media (max-width: 768px) {

    main {
        section {
            flex-direction: column;
            padding: 10px;

            .imageFeild {
                padding: 30px;
                margin: 0 -10px;
            }

            .content {
                flex-direction: column;
                height: auto;
                max-height: inherit;
                padding: 15px;

                .info-container {
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 60px 0px;

                    .textFeild {
                        .authorInfo {
                            display: flex;
                            flex-direction: column;
                        }

                        .authorJob {
                            margin-left: 0;
                            margin-top: 5px;
                        }
                    }
                }

                .skills-container,
                .projects-container,
                .contact-container {

                    .skill,
                    .project,
                    .contact {

                        .skillTitle,
                        .projectTitle,
                        .contactTitle {}

                        .skillIcon,
                        .contactIcon {
                            img {}

                            i {}
                        }

                        .projectIcon {
                            img {
                                width: 270px;
                            }
                        }
                    }
                }
            }
        }
    }

    p.text {
        font-size: 22px;
        line-height: 32px;
    }

}

@media (max-width:600px) {
    main {
        section {

            .imageFeild {}

            .content {

                .info-container {

                    .textFeild {
                        .authorInfo {}

                        .authorJob {}

                        .socialLinks {
                            a {}
                        }
                    }
                }

                .skills-container,
                .projects-container,
                .contact-container {

                    .skill,
                    .project,
                    .contact {

                        .skillTitle,
                        .projectTitle,
                        .contactTitle {}

                        .skillIcon,
                        .contactIcon {
                            img {}

                            i {}
                        }

                        .projectIcon {
                            img {
                                width: 205px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    header {
        nav.navbar {
            padding: 0px;

            ul {
                gap: 0px 6px;

                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    main {
        section {

            .imageFeild {}

            .content {
                padding: var(--phone-padding);

                .info-container {

                    .imageFeild {
                        max-width: 80%;
                        padding: 20px;
                    }

                    .textFeild {
                        .authorInfo {}

                        .authorJob {}

                        .socialLinks {
                            a {}
                        }
                    }
                }

                .skills-container,
                .projects-container,
                .contact-container {
                    .skill {
                        width: 35%;
                    }

                    .skill,
                    .project,
                    .contact {

                        .skillTitle,
                        .projectTitle,
                        .contactTitle {
                            margin: 10px;
                        }

                        .skillIcon,
                        .contactIcon {
                            img {
                                width: 85px;
                            }

                            i {}
                        }

                        .projectIcon {
                            img {
                                width: 205px;
                            }
                        }
                    }
                }

                .contact {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:375px) {
    header {
        nav.navbar {
            .logo {
                font-size: 16px;
            }
        }
    }
}