<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default("Fahd Ashour") }}</title>
  <meta name="description" content="{{ description | default('self-taught software engineer. loves open source, Rust, edtech. cofounder of the BLEU Community') }}">

  <link rel="icon" href="/public/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    {% include "nav.njk" %}
    {{ content | safe }}
  </div>
</body>
</html>
