<header class="nav-header">
  <nav>
    <ul class="nav-list">
      <li><a href="/" class="nav-link">Fahd</a></li>
      <li><a href="/blog/" class="nav-link">Blog</a></li>
      <li><a href="/gallery/" class="nav-link">Gallery</a></li>
    </ul>
  </nav>
</header>
