@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

/*==================== VARIABLES CSS ====================*/

:root {
  --secondary-color: #8b6bd1;
  --secondary-color-faded: rgba(139, 107, 209, 0.6);
  --third-color: rgb(61, 38, 112);
  --text-color: #000;
  --min-width: 80%;
  --max-width: 1200px;
  --min-height: 600px;
  --font-family: "Inter", sans-serif;
  --font-size-title: 22px;
  --font-size-icon: 32px;
  --default-padding: 8px;
  --animation-timing: 0.2s;
  --shadow-default: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 0 5px 3px var(--secondary-color-faded);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  -webkit-font-feature-settings: inherit;
          font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.relative{
  position: relative;
}

.left-0{
  left: 0px;
}

.top-0{
  top: 0px;
}

.z-\[99999999999\]{
  z-index: 99999999999;
}

.m-2{
  margin: 0.5rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mt-4{
  margin-top: 1rem;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.h-8{
  height: 2rem;
}

.h-\[280px\]{
  height: 280px;
}

.h-fit{
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.h-full{
  height: 100%;
}

.w-1\/2{
  width: 50%;
}

.w-full{
  width: 100%;
}

.max-w-\[60\%\]{
  max-width: 60%;
}

.max-w-screen-xl{
  max-width: 1280px;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-12{
  gap: 3rem;
}

.gap-4{
  gap: 1rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-7{
  gap: 1.75rem;
}

.self-center{
  align-self: center;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border-b{
  border-bottom-width: 1px;
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.bg-indigo-700{
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}

.bg-transparent{
  background-color: transparent;
}

.object-cover{
  object-fit: cover;
}

.p-4{
  padding: 1rem;
}

.p-\[50px\]{
  padding: 50px;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pr-4{
  padding-right: 1rem;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold{
  font-weight: 700;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.text-\[\#b071ff\]{
  --tw-text-opacity: 1;
  color: rgb(176 113 255 / var(--tw-text-opacity));
}

.text-\[\#d0ccd6\]{
  --tw-text-opacity: 1;
  color: rgb(208 204 214 / var(--tw-text-opacity));
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-indigo-100{
  --tw-text-opacity: 1;
  color: rgb(224 231 255 / var(--tw-text-opacity));
}

.transition-colors{
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-150{
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

/* Font size for large devices */

body {
  font-family: var(--font-family);
  font-size: 16px;
  text-transform: capitalize;
  overflow-x: hidden;
  background: #0e001b;
  color: #fff;
}

.page-container {
  position: relative;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #1f0038;
  height: 100%;
  z-index: 10000000000000000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaded .loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

.loaded .loader-wrapper .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loader-wrapper .loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-wrapper .loader .loader-outter {
  position: absolute;
  border: 4px solid rgb(139, 107, 209);
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.loader-wrapper .loader .loader-inner {
  position: absolute;
  border: 4px solid rgb(139, 107, 209);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.cursor-container .cursor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  position: absolute;
  top: 9px;
  left: 9px;
  transition: 0.09s;
  pointer-events: none;
  z-index: 9999999;
}

.cursor-container .dot {
  width: 5px;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: none;
  pointer-events: none;
  z-index: 999999;
}

.not-footer {
  padding-bottom: 100px;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
  min-height: 76vh;
}

main section .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: var(--min-height);
  background-color: transparent;
}

main section .content .textFeild {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  transition: all 1s;
}

main section .content .textFeild p.text {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

main section .content .textFeild .authorInfo {
  display: flex;
}

main section .content .textFeild .authorInfo .authorName {
  font-weight: 700;
}

main section .content .textFeild .socialLinks {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

main section .content .textFeild .socialLinks a {
  background: #000;
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right: calc(var(--default-padding) / 2);
  border-radius: 50%;
  transition: all var(--animation-timing);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

main section .content .textFeild .socialLinks a:hover {
  background: transparent;
  color: #000;
}

main section .content .info-container,
main section .content .skills-container,
main section .content .contact-container {
  display: flex;
}

main section .content .skills-container,
main section .content .contact-container {
  justify-content: center;
  flex-wrap: wrap;
  padding: clc(var(--default-padding)/2);
}

main section .content .skills-container .skill,
main section .content .skills-container .contact,
main section .content .contact-container .skill,
main section .content .contact-container .contact {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  margin: 15px 18px;
  padding-bottom: 0px;
  box-shadow: var(--shadow-default);
  text-decoration: none;
  transition: 0.15s all linear;
}

main section .content .skills-container .skill .skillTitle,
main section .content .skills-container .skill .contactTitle,
main section .content .skills-container .contact .skillTitle,
main section .content .skills-container .contact .contactTitle,
main section .content .contact-container .skill .skillTitle,
main section .content .contact-container .skill .contactTitle,
main section .content .contact-container .contact .skillTitle,
main section .content .contact-container .contact .contactTitle {
  font-size: 1em;
  font-weight: bold;
  padding: 12px 0px;
  width: -webkit-min-content;
  width: min-content;
  min-width: 90%;
  text-align: center;
}

main section .content .skills-container .skill .skillIcon img,
main section .content .skills-container .skill .contactIcon img,
main section .content .skills-container .contact .skillIcon img,
main section .content .skills-container .contact .contactIcon img,
main section .content .contact-container .skill .skillIcon img,
main section .content .contact-container .skill .contactIcon img,
main section .content .contact-container .contact .skillIcon img,
main section .content .contact-container .contact .contactIcon img {
  width: 150px;
}

main section .content .skills-container .skill .skillIcon i,
main section .content .skills-container .skill .contactIcon i,
main section .content .skills-container .contact .skillIcon i,
main section .content .skills-container .contact .contactIcon i,
main section .content .contact-container .skill .skillIcon i,
main section .content .contact-container .skill .contactIcon i,
main section .content .contact-container .contact .skillIcon i,
main section .content .contact-container .contact .contactIcon i {
  font-size: var(--font-size-icon);
}

main section .content .skills-container .skill:hover, main section .content .skills-container .skill:focus,
main section .content .skills-container .contact:hover,
main section .content .skills-container .contact:focus,
main section .content .contact-container .skill:hover,
main section .content .contact-container .skill:focus,
main section .content .contact-container .contact:hover,
main section .content .contact-container .contact:focus {
  box-shadow: var(--shadow-hover);
}

main section .content .contact {
  min-width: 40%;
}

main section .imageFeild .image {
  width: 100%;
  border-radius: var(--border-radius);
  -webkit-filter: drop-shadow(-5px 10px 6px #000);
          filter: drop-shadow(-5px 10px 6px #000);
  transition: all 0.1s;
}

main section .sectionTitle {
  font-size: var(--font-size-title);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ribbon {
  position: absolute;
  top: -4px;
  right: 15px;
  z-index: 99;
  background: var(--secondary-color);
  color: #fff;
  padding: 10px;
}

.ribbon::after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 0 4px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  border-color: transparent transparent transparent #634e5b;
}

.ribbon::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 0 4px;
  border-color: transparent transparent transparent #634e5b;
}

.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-indigo-800:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(55 48 163 / var(--tw-bg-opacity));
}

.hover\:text-violet-500:hover{
  --tw-text-opacity: 1;
  color: rgb(139 92 246 / var(--tw-text-opacity));
}

.focus\:text-violet-500:focus{
  --tw-text-opacity: 1;
  color: rgb(139 92 246 / var(--tw-text-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-violet-300:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(196 181 253 / var(--tw-ring-opacity));
}

.active\:text-violet-700:active{
  --tw-text-opacity: 1;
  color: rgb(109 40 217 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark){
  .dark\:border-gray-600{
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
  }

  .dark\:border-gray-700{
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }

  .dark\:text-slate-400{
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
  }

  .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:hover\:bg-gray-700:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .dark\:hover\:text-white:hover{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

@media not all and (min-width: 1024px){
  .max-lg\:h-\[180px\]{
    height: 180px;
  }

  .max-lg\:w-1\/5{
    width: 20%;
  }

  .max-lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media not all and (min-width: 768px){
  .max-md\:w-4\/5{
    width: 80%;
  }

  .max-md\:flex-col{
    flex-direction: column;
  }

  .max-md\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .max-md\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media not all and (min-width: 640px){
  .max-sm\:order-5{
    order: 5;
  }

  .max-sm\:h-\[150px\]{
    height: 150px;
  }

  .max-sm\:w-full{
    width: 100%;
  }

  .max-sm\:max-w-full{
    max-width: 100%;
  }

  .max-sm\:flex-col{
    flex-direction: column;
  }

  .max-sm\:items-center{
    align-items: center;
  }

  .max-sm\:gap-3{
    gap: 0.75rem;
  }

  .max-sm\:gap-4{
    gap: 1rem;
  }

  .max-sm\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .max-sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px){
  .md\:order-1{
    order: 1;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:w-auto{
    width: auto;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:space-x-8 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:p-0{
    padding: 0px;
  }

  .md\:hover\:bg-transparent:hover{
    background-color: transparent;
  }

  .md\:hover\:text-purple-700:hover{
    --tw-text-opacity: 1;
    color: rgb(126 34 206 / var(--tw-text-opacity));
  }

  @media (prefers-color-scheme: dark){
    .md\:dark\:hover\:bg-transparent:hover{
      background-color: transparent;
    }

    .md\:dark\:hover\:text-purple-500:hover{
      --tw-text-opacity: 1;
      color: rgb(168 85 247 / var(--tw-text-opacity));
    }
  }
}
/*# sourceMappingURL=output.css.map */