---
layout: base.njk
title: Resume | Fahd Ashour
permalink: /resume/index.html
---

<meta http-equiv="refresh" content="0; url=https://drive.google.com/file/d/1kZV7Ing6HF-Ooxt9pXTtllcGGcG1re1-/view?usp=sharing">
<script>window.location.replace("https://drive.google.com/file/d/1kZV7Ing6HF-Ooxt9pXTtllcGGcG1re1-/view?usp=sharing");</script>
<p>Redirecting to <a href="https://drive.google.com/file/d/1kZV7Ing6HF-Ooxt9pXTtllcGGcG1re1-/view?usp=sharing">my resume</a>...</p>
